<div class="col-md-4"></div>
<div class="col-md-4">
	<h1>Edit Map Title</h1>
	<hr>
	<%= form_for @map do |f| %>
	<div class="form-group">
		<!-- Enables flash messages within the form for superior UX -->
		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-notice'}" %>
		<% end %>

		<%= f.text_field :title, placeholder: "Title", class: "form-control" %><br>
		<%= f.submit "Update Title", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
<div class="col-md-4"></div>