<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 about">
          <h1 class="text-center logo">EVEREST</h1>
          <p>Shabby chic qui viral do in, delectus bicycle rights consequat skateboard sartorial. Qui readymade labore tote bag. Eu typewriter Vice authentic, yr fashion axe organic vinyl VHS excepteur cornhole plaid. Lo-fi meditation id, nisi leggings excepteur Marfa Williamsburg. Chillwave sunt dreamcatcher est bitters. Cronut Portland meh, drinking vinegar excepteur ea bitters wolf organic elit sunt umami authentic velit. Fashion axe pop-up chambray, sapiente Odd Future taxidermy occupy anim whatever forage laboris.</p>
        </div>
        <div class="col-md-3"></div>
    </div> <!-- close col-md-8 col-md-offset-2 -->
  </div> <!-- close .row -->

  <hr>
    <!-- Team member photos and links to github etc -->
    <div class="col-md-12 row authors">
      <h1 class="text-center">This app was created with love by:</h1>
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        <p>Shabby chic qui viral do in, delectus bicycle rights consequat skateboard sartorial. Qui readymade labore tote bag. Eu typewriter Vice authentic, yr fashion axe organic vinyl VHS excepteur cornhole plaid. Lo-fi meditation id, nisi leggings excepteur Marfa Williamsburg.</p>
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        <p>Shabby chic qui viral do in, delectus bicycle rights consequat skateboard sartorial. Qui readymade labore tote bag. Eu typewriter Vice authentic, yr fashion axe organic vinyl VHS excepteur cornhole plaid. Lo-fi meditation id, nisi leggings excepteur Marfa Williamsburg.</p>
        <!-- picture and bio -->
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        <p>Shabby chic qui viral do in, delectus bicycle rights consequat skateboard sartorial. Qui readymade labore tote bag. Eu typewriter Vice authentic, yr fashion axe organic vinyl VHS excepteur cornhole plaid. Lo-fi meditation id, nisi leggings excepteur Marfa Williamsburg.</p>
        <!-- picture and bio -->
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        <p>Shabby chic qui viral do in, delectus bicycle rights consequat skateboard sartorial. Qui readymade labore tote bag. Eu typewriter Vice authentic, yr fashion axe organic vinyl VHS excepteur cornhole plaid. Lo-fi meditation id, nisi leggings excepteur Marfa Williamsburg.</p>
        <!-- picture and bio -->
      </div> <!-- close .col-md-3 -->
    </div> <!-- close .row -->

    <!-- Information about our stack -->
    <div class="row" id="stack">
      <hr>
      <div class="col-md-12 text-center logos">
        <h1>This app is made possible by:</h1>
        <!-- Stack logos will be placed here: Rails, GoogleAPI, Postgres -->
        <!-- Link to Stack Share blog post (stretch if time on Thursday night) -->
        <img class="tech-stack" src="/logos/google-developers-logo.png">
        <img class="tech-stack" src="/logos/ruby-on-rails.png">
        <img class="tech-stack" src="/logos/postgresql-logo.png">
      </div>
    </div>
</div> <!-- close .container-fluid -->
