<div class="container-fluid about-section">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-8 about">
        <h1 class="text-center logo">EVEREST</h1>
        <p>As technology brings our world closer together, our lives become more fast-paced, require more travel and more routes to our ever-changing destinations. Whether you are on your way home from work, going on an early morning run, hopping on your bike for that next rush, or simply going on a walk for some out-of-office Zen, there are hills to embrace, avoid, or explore. Pick your destination, adjust the route for more or less elevation, and save your routes for next time. Everest empowers city-dwellers to choose their elevation routes for what ever their day may bring.</p> 
        <p>Everest is brought to you by a team of Full-Stack Web Developers at General Assembly. General Assembly transforms thinkers into creators through education and opportunities in technology, business, and design. 
        </p>
      </div>
      <div class="col-md-2"></div>
    </div> <!-- close col-md-8 col-md-offset-2 -->
  </div> <!-- close .row -->

  <hr>
  <!-- Team member photos and links to github etc -->
  <div class="col-md-12 row authors">
    <h1 class="text-center">This app was created with love by:</h1>
    <div class="col-md-3" style="border-right: 1px solid #ccc;">
      <img class="portrait img-circle img-responsive center-block" src="/about-img/everest_1.jpg">
      <br />
      <h4>Aubrey<h4>
        <a class="" href="https://github.com/aubreyworley" target="_blank">
          <i class="fa fa-github-square"></i>
        </a>
        <a class="" href="https://www.linkedin.com/in/aubreyworley" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <p>When Aubrey isn’t busy creating and thinking of her next business plan, she’s exploring other worlds in her never-ending book list or adventuring in the great outdoors. </p>
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait img-circle img-responsive center-block" src="/about-img/everest_2.jpg">

        <br />

        <h4>Brennan<h4>
          <a class="" href="www.github.com/bgamwell" target="_blank">
            <i class="fa fa-github-square"></i>
          </a>
          <a class="" href="https://www.linkedin.com/in/brennangamwell" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <p>Brennan is a programmer, marketer and writer. When he's not building websites, he's likely reading or on an urban hike in hilly San Francisco.</p>
          <!-- picture and bio -->
        </div> <!-- close .col-md-3 -->
        <div class="col-md-3" style="border-right: 1px solid #ccc;">
          <img class="portrait img-circle img-responsive center-block" src="/about-img/everest_3.jpg">
          <br />
          <h4>Davina<h4>
            <a class="" href="https://github.com/lilvina" target="_blank">
              <i class="fa fa-github-square"></i>
            </a>
            <a class="" href="https://www.linkedin.com/in/davinataylor" target="_blank">
              <i class="fa fa-linkedin-square"></i>
            </a>
            <p>Davina spends her free time immersing herself in anime, books, and the software developer community. She’s passionate about local learning opportunities for African Americans and loves to express herself through dancing on stage.</p>
            <!-- picture and bio -->
          </div> <!-- close .col-md-3 -->
          <div class="col-md-3">
            <img class="portrait img-circle img-responsive center-block" src="/about-img/everest_4.jpg">
            <br />
            <h4>Erin<h4>
              <a class="" href="https://github.com/erintherad" target="_blank">
                <i class="fa fa-github-square"></i>
              </a>
              <a class="" href="https://www.linkedin.com/in/erinmahoneyphoto" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
              <p>Erin is passionate about photography and good web design.  She avidly seeks the flattest routes to run in San Francisco and newest food spots to nom.</p>
              <!-- picture and bio -->
            </div> <!-- close .col-md-3 -->
          </div> <!-- close .row -->

          <!-- Information about our stack -->
          <div class="row" id="stack">
            <hr>
            <div class="col-md-12 logos text-center">
              <h1>This app is made possible by:</h1>
              <!-- Stack logos will be placed here: Rails, GoogleAPI, Postgres -->
              <!-- Link to Stack Share blog post (stretch if time on Thursday night) -->
              <span><a href="https://developers.google.com/maps/?hl=en" target="_blank"><img class="tech" src="/logos/google-developers-logo.png"></a></span>
              <span><a href="http://rubyonrails.org/" target="_blank"><img class="tech" src="/logos/ruby-on-rails.png"></a></span>
              <span><a href="https://aws.amazon.com/s3/" target="_blank"><img class="tech" src="/logos/s3.jpg"></a></span>
              <span><a href="http://www.postgresql.org/" target="_blank"><img class="tech" src="/logos/postgresql-logo.png"></a></span>
            </div>
          </div>
        </div> <!-- close .container-fluid -->
