<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
        <h1 class="text-center">About Everest</h1>
        <!-- input pictures for each group member -->
    </div> <!-- close col-md-8 col-md-offset-2 -->
  </div> <!-- close .row -->

    <!-- Team member photos and links to github etc -->
    <div class="row">
      <br />
      <br />
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        Sample Text
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        Sample Text
        <!-- picture and bio -->
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3" style="border-right: 1px solid #ccc;">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        Sample Text
        <!-- picture and bio -->
      </div> <!-- close .col-md-3 -->
      <div class="col-md-3">
        <img class="portrait" src="assets/default-profile.png">
        <br />
        Sample Text
        <!-- picture and bio -->
      </div> <!-- close .col-md-3 -->
    </div> <!-- close .row -->

    <div class="divider"></div>

    <!-- Information about our stack -->
    <div class="row" id="stack">
      <div class="col-md-8">
        <!-- Stack logos will be placed here: Rails, GoogleAPI, Postgres -->
        <!-- Link to Stack Share blog post (stretch if time on Thursday night) -->
        <img class="tech-stack" src="/logos/ruby-on-rails.png">
        <img class="tech-stack" src="/logos/google-developers-logo.png">
        <img class="tech-stack" src="/logos/postgresql-logo.png">
      </div>
    </div>
</div> <!-- close .container-fluid -->
