   <div class="col-md-12 header-title" id="landing-img">
    <div class="container-fluid">
      <h1 class="logo" id="site-title">EVEREST</h1>
      <h2 class="tag-line header-title-hgroup" id="tagline">Elevate your route</h2>
    </div>
  </div>

  <!-- Tutorial section -->
  <div class="container-fluid">
    <div class="row text-center">
      <h2 class="about-tag">How <span class="about-logo">EVEREST</span> works:</h2>
    </div>
    <div class="row about text-center">
      <div class="col-md-4 about-one">
        <img src="/gifs/making.gif">
        <h3>1</h3>
        <p>
          Choose your destination and travel mode.
        </p>
      </div>
      <div class="col-md-4 about-two">
        <img src="/gifs/dragging.gif">
        <h3>2</h3>
        <p>
          Customize your elevation.
        </p>
      </div>
      <div class="col-md-4 about-three">
        <img src="/gifs/saving.gif">
        <h3>3</h3>
        <p>
          Save your route for next time.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <!-- End of tutorial section -->

  <div class="container-fluid">
    <div class="map">
      <div class="col-md-12">
       <div class="nav-header">
        <h1>CREATE YOUR ROUTE:</h1>
      </div>
      <div>
        <form class="form-inline" id="routes">
          <div class="map-nav">
            <div class="form-group">
              <label>
                From: <input id="from" type="text" placeholder="Nob Hill, San Francisco, CA">
              </label>
            </div>
            <div class="form-group" id="from-to-switcher"></div>
            <div class="form-group">
              <label>
                To: <input id="to" type="text" placeholder="Russian Hill, San Francisco, CA">
              </label>
            </div>
            <div class="form-group">
              <label for="travel-mode">Travel mode:</label>
              <select id="travel-mode">
                <option>Bicycling</option>
                <option>Walking</option>
                <option>Driving</option>
              </select>
            </div>
            <div class="form-group">
              <label for="measurement-mode">Units:</label>
              <select id="measurement-mode">
                <option value="miles">Miles</option>
                <option value="km">Kilometres</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-dark" id="go">Go</button>
            </div>
            <% if current_user %>
            <div class="hidden form-group" id="save">
              <a href="#" data-toggle="modal" data-target="#saveModal"><label>Save your route?</label></a>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Save your route</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div>
                <span>From: <input class="form-control" id="from-pop" type="text" placeholder="Nob Hill, San Francisco, CA"></span>
            </div>
            <div>
                <span>To: <input class="form-control" id="to-pop" type="text" placeholder="Russian Hill, San Francisco, CA"></span>
            </div>
            <div>
              <span for="travel-mode-pop">Travel mode:</span>
              <select class="form-control" id="travel-mode-pop">
                <option>Bicycling</option>
                <option>Walking</option>
                <option>Driving</option>
              </select>
            </div>
            <div>
              <span for="measurement-mode-pop">Units:</span>
              <select class="form-control" id="measurement-mode-pop">
                <option value="miles">Miles</option>
                <option value="km">Kilometres</option>
              </select>
            </div>
            <div>
                <span>Title: <input class="form-control" id="title-pop" type="text" placeholder="My running route"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="save-changes" class="btn btn-primary">Save changes</button>
        <br>
        <br>
        <p id="save-alert" class="hidden text-center">Your map has been saved to your <a href="/profile">profile page</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 charts">
  <div class="col-md-6 map-canvas-container">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div class="col-md-2 table-con footer">
    <table class="table">
      <th>
        <td>Difficulty</td>
        <td>% Grade</td>
      </th>
      <tr>
        <td><div class="color-index" id="green"</div></td>
        <td>Easy</td>
        <td>&lt;5%</td>
      </tr>
      <tr>
        <td><div class="color-index" id="yellow"</div></td>
        <td>Moderate</td>
        <td>5-10%</td>
      </tr>
      <tr>
        <td><div class="color-index" id="blue"</div></td>
        <td>Difficult</td>
        <td>10-15%</td>
      </tr>
      <tr>
        <td><div class="color-index" id="red"</div></td>
        <td>Very Difficult</td>
        <td>15-20%</td>
      </tr>
      <tr>
        <td><div class="color-index" id="black"</div></td>
        <td>Too *wheeze* steep</td>
        <td>&gt;20%</td>
      </tr>
    </table>
    <div class="labels">
      Distance:
      <span id="distance"></span>
    </div>
    <div class="labels">
      Travel Time:
      <span id="travel-time"></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div>
        <div id="elevation_chart"></div>
        <div id="slope_chart"></div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<!-- <div id="directionsPanel"></div>
<div class="row" id="author">
</div> -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDXj3FxJkwYjszaD_xk5c_l8CAqjCRfno4"></script>

<!-- link to themed version of bootstrap hosted on the internet -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
