/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*----------------------------
    GLOBAL STYLES
-----------------------------*/
@import "font-awesome-sprockets";
@import "font-awesome";

 html, body {
  width: 100%;
  height: 100%;
  font-family: body;
 }

 @font-face {
  font-family: logo;
  src: url(/fonts/slant.ttf);
 }

 @font-face {
  font-family: body;
  src: url(/fonts/OpenSans-CondLight.ttf);
 }
 /*----------------------------
    BUTTON STYLES
-----------------------------*/

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,.7);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,1);
}

/*----------------------------
    NAVBAR STYLES
-----------------------------*/
.navbar-brand {
}
.navbar-inner {
  background:transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  color: white;
}
.nav a, .nav a:focus, .nav a:hover {
  background-color: transparent;
  color: black;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: white;
}


/*EVERYTHING BELOW IS STYLING FOR THE MAIN HOMEPAGE*/

/*----------------------------
    SPLASH STYLE SECTION
-----------------------------*/

#landing-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/landing.jpg);
  background-size: cover;
  position: relative;
  margin-top: -20px;
}

.header-title {
  text-align: center;
  color: white;
  background-position: center;
  padding: 10% 0;
}

.header-title-hgroup {
  border: 1px solid white;
  display: inline-block;
  padding: 0.3em 1em 0.5em 1em;
}

.logo {
  font-family: logo;
  font-size: 9rem;
  text-shadow: 1px 2px 4px #000000;
}

.tag-line {
  font-family: body;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 2px 2px #000000;
}

/*----------------------------
    MAP INPUT BAR STYLES
-----------------------------*/
.map-section {
  margin-top: 50px;
}
.map-section h1 {
  font-size: 1.5em;
}
.nav-header {
  padding-bottom: 10px;
}
.map-nav {
  padding-bottom: 10px;
}
.map-nav label {
  font-size: 1.5em;
  margin-right: 10px;
  margin-left: 10px;
}
.map-nav input {
  width: 270px;
  font-size: 1em;
}
#go {
  margin-left: 20px;
}
.table {
  width: 200px;
}
/*----------------------------
    MAP AND CHART SIZE
-----------------------------*/

 #map-canvas {
  width: 600px;
  height: 400px;
  background-color: #CCC;

}

#slope_chart,
#elevation_chart {
  width: 500px;
  height: 250px;
}

/*----------------------------
    KEY STYLES
-----------------------------*/

.color-index {
  width: 40px;
  height: 20px;
  border: solid 1px;
}
#green {
  background-color: #3CB371;
}
#yellow {
  background-color: #FFFF00;
}
#blue {
  background-color: #3366FF;
}
#red {
  background-color: #FF0000;
}
#black {
  background-color: #000000;
}

/*----------------------------
    SWITCHER STYLES
-----------------------------*/

form #from-to-switcher {
  position: relative;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

form #from-to-switcher:after {
  content : "";
  position: absolute;
  background-image: url(/sort.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  opacity : 0.45;
  z-index: 1;
}

form #from-to-switcher:hover:after {
  opacity : 1;
}

/*----------------------------
    TRAVEL DISPLAY STYLES
-----------------------------*/

.travel-info {
  display: none;
}


