// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-section {
	margin-top: 100px;
}
.about {
	margin-top: 50px;
	margin-bottom: 50px;
}
.about {
	font-size: 25px;
}

.authors {
	margin-top: 50px;

}
.authors h1 {
	margin-bottom: 80px;
	font-size: 2em;
	font-family: body-header;
}
.authors h4 {
	font-size: 2em;
	font-family: body-header;
}
.authors p {
	margin-top: 10px;
	font-size: 25px;
	font-family: body;
}

.logos {
	margin-top: 50px;

}
.logos h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: body-header;
	font-size: 2em;
}

.tech {
	padding: 20px;
	margin-bottom: 100px;
}

.portrait {
	margin-bottom: 20px;
}