<!DOCTYPE html>
<html>
<head>

  <title>EverestApp</title>
   <!-- link to themed version of bootstrap hosted on the internet -->
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" >
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
